.custom_bold_text {
   font-weight: 600;
   font-size: 14px;
   line-height: 22.4px;
   letter-spacing: 0.2px;
}
.custom_text {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.2;
   color: #64748B;
}
.very_small_text {
   font-weight: 500;
   font-size: 12px;
   line-height: 19.2px;
}
.sub_tittles {
   font-weight: 700;
   font-size: 12px;
   line-height: 19.2px;
   letter-spacing: 1px;
   // width: 39px;
   height: 19px;
   text-transform: uppercase;
   color: #94A3B8;
}